* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: #dddddd;
    font-size: 18px;
    font-family: 'Roboto', Courier, monospace;
    margin: 50px;
}

/* header */
.header {
    display: grid;
    grid-template-areas:
        'hero hero feature-1'
        'hero hero feature-2';
}

.hero {
    grid-area: hero;
    min-height: 300;
    background-image: url(img/images.jpeg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.hero>* {
    display: none;
}

.features {
    background-color: black;
    color: white;
    display: grid;
    /* justify-content: center;
    align-content: center; */
    place-content: center;
    text-align: center;
}